@import "./aside-controls.css";

.main-aside {
  padding: 30px 0 100px 0;
  size: 145px 100vh;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, .5);
  position: fixed 0 * * 0;
  transform: translateX(-100%);
  transition: transform .2s ease-in-out;
  z-index: 999;
}

.main-aside--active {
  transform: translateX(0);
}

.menu-btn {
  position: absolute 55px 55px * *;

  @media (--xsmall) {
    position: absolute 30px 30px * *;
  }
}
